.carousel .slide1 {
    background: url('/static/images/slider/aviles.jpg') no-repeat;

}

.carousel .slide2 {
    background: url('/static/images/slider/luarca.jpg') no-repeat;

}

.carousel .slide3 {
    background: url('/static/images/slider/londres.jpg') no-repeat;

}

.carousel .slide4 {
    background: url('/static/images/slider/somiedo.jpg') no-repeat;

}

.carousel .slide5 {
    background: url('/static/images/slider/new-york.jpg') no-repeat;

}