/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin: 0 auto;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.header-container{
    width: 80%;
}

/* CUSTOMIZE THE WHO I AM
-------------------------------------------------- */

.who-i-am{
   margin: 0 auto;
   width: 80%;
   display:block;
}

.featured-social{
    text-align:center;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 350px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}

.carousel-caption{
 display: inline-table;
background: rgba(221, 221, 221, 0.71);
text-shadow: 0 -1px 0 rgba(192, 192, 192, 0.25);
text-align: left;
border-radius: 10px;
padding: 10px;
color: #474444;
}

.carousel-caption .title{
    font-size: 14px;
    font-weight: bold;
}

.carousel-caption p{
    font-size: 12px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

.section-title{
    margin-bottom: 20px;

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }

  .carousel-caption {
left: 13%;
right: 0;
max-width: 32%;
}

}



@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0;
  }

  .contact-header{
margin-top: 120px;
}

}

  .carousel .slide1 {
    background: url('../images/slider/aviles.jpg') no-repeat;

   }
  .carousel .slide2 {
    background: url('../images/slider/luarca.jpg') no-repeat;

   }

.carousel .slide3 {
    background: url('../images/slider/londres.jpg') no-repeat;

   }
     .carousel .slide4 {
    background: url('../images/slider/somiedo.jpg') no-repeat;

   }

.carousel .slide5 {
    background: url('../images/slider/new-york.jpg') no-repeat;

}

.carousel .item{
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
    width: 100%;

}

@media (max-width: 768px) {

    .carousel{
        height: 190px;
        margin-bottom: 10px;
    }

    .carousel .item {
        height: 190px;
        background-position-y: 1.4em;
    }


    .header-container{
        width: 100%;
    }

    .carousel-caption {
        display:none;
    }

}

.eii-mini{
    background: url('../images/eii-logo-mini.png') no-repeat;
    width: 24px;
    height: 24px;
    display:inline-block;
}

.pad-mini{
    background: url('../images/pad-icon-mini.png') no-repeat;
    width: 32px;
    height: 24px;
    display:inline-block;
}

.camera-mini{
    background: url('../images/camera-icon-mini.png') no-repeat;
    width: 33px;
    height: 24px;
    display:inline-block;
}

.code-mini{
    background: url('../images/code-icon-mini.png') no-repeat;
    width: 33px;
    height: 24px;
    display:inline-block;
}

.wp-mini{
    background: url('../images/wp-icon-mini.png') no-repeat;
    width: 24px;
    height: 24px;
    display:inline-block;
}

.sneaker-mini{
    background: url('../images/sneaker-icon-mini.png') no-repeat;
    width: 58px;
    height: 24px;
    display:inline-block;
}

form p, .form-success{
padding:10px;
}

form li{
padding: 10px;
}