*.log
*.pot
*.pyc
local_settings.py
/renefernandezcom/renefernandezcom/settings_debug.py
/renefernandezcom/renefernandezcom/settings_production.py
.idea
personal-site.iml
renefernandezcom/static/bower_components/
.env
config.py
venv
coverage.xml
.coverage
db.sqlite3