{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}René Fernández Sánchez - Ingeniero Web - Página personal{% endblock %}

{% block meta_description %}Página personal de René Fernández. Asturiano, Ingeniero Técnico Informático y desarollador
    web e iOS{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <hr class="featurette-divider">

    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <li class="main-message alert alert-
                            {% if message.tags == 'success' %}{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="container marketing">

    <div itemscope itemtype="http://schema.org/Person">

        <div class="row">
            <div class="col-md-8">.col-md-6</div>
            <div class="col-md-4">.col-md-6</div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
            <div class="col-md-12">.col-md-12</div>
        </div>

    </div>
{% endblock %}

{% block footer %}

{% endblock %}