{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}René Fernández Sánchez - Ingeniero Web - Página personal{% endblock %}

{% block meta_description %}Página personal de René Fernández. Asturiano, Ingeniero Técnico Informático y desarollador web e iOS{% endblock %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active slide1">
          <div class="container">
            <div class="carousel-caption">
              <div class="title">Avilés (Asturias)</div>
              <p>{% trans "Entrada del Centro Niemeyer" %}</p>
            </div>
          </div>
        </div>
        <div class="item slide2">
          <div class="container">
            <div class="carousel-caption">
              <div class="title">Luarca</div>
              <p>{% trans "Pueblo al atardecer." %}</p>
            </div>
          </div>
        </div>
        <div class="item slide3">
          <div class="container">
            <div class="carousel-caption">
              <div class="title">{% trans "Londres (Reino Unido)" %}</div>
              <p>{% trans "Westminster y el Big Ben" %}</p>
            </div>
          </div>
        </div>
        <div class="item slide4">
          <div class="container">
            <div class="carousel-caption">
              <div class="title">Somiedo (Asturias)</div>
              <p>{% trans "Cerca de Valle de Lago" %}</p>
            </div>
          </div>
        </div>
        <div class="item slide5">
          <div class="container">
            <div class="carousel-caption">
              <div class="title">{% trans "Nueva York (EEUU)" %}</div>
              <p>{% trans "Empire State Building y downtown" %}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <li class="main-message alert alert-{% if message.tags == 'success' %}{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div itemscope itemtype="http://schema.org/Person">

        <div class="container marketing">

          <div class="row featurette who-i-am hideme">
            <div class="col-md-7">
              <h2 class="featurette-heading who-i-am-heading">¡Hola! <span class="text-muted">{% trans "Bienvenido a mi página web personal. " %}</span></h2>
              <p class="lead">{% blocktrans %}Me llamo <span itemprop="name">René Fernández</span> y soy un <span itemprop="jobtitle">Ingeniero Técnico Informático</span> de <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressRegion">Asturias</span></span>. En esta página encontrarás información sobre mi actividad profesional y personal.{% endblocktrans %}</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-circle" src="{% static 'images/rene_fernandez_sanchez.jpg' %}" alt="Generic placeholder image" >
            </div>
          </div>

          <!--<hr class="featurette-divider">-->

          <!-- Three columns of text below the carousel -->
         <!-- <div class="row">
            <div class="featured-social">
                <h2 class="bs-featurette-title">Latest projects.</h2>
                <p class="lead">Estos son algunos de los últimos proyectos en los que he trabajado. Puedes ver más proyectos en la <a href="">sección de proyectos</a>.</p>
               </div>
            <div class="col-lg-4">
              <img class="img-rounded" data-src="{% static 'js/holder.js' %}/140x140" alt="Generic placeholder image">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>--><!-- /.col-lg-4 -->
            <!--<div class="col-lg-4">
              <img class="img-rounded" data-src="{% static 'js/holder.js' %}/140x140" alt="Generic placeholder image">
              <h2>Heading</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>--><!-- /.col-lg-4 -->
            <!--<div class="col-lg-4">
              <img class="img-rounded" data-src="{% static 'js/holder.js' %}/140x140" alt="Generic placeholder image">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div><!-- /.row -->


          <!-- START THE FEATURETTES -->

          <hr class="featurette-divider">

          <div class="row featurette hideme">
            <div class="col-md-7">
              <h2 class="featurette-heading">{% trans "¿A qué me dedico?" %}<span class="text-muted">{% trans "En corto." %}</span></h2>
              <p class="lead">{% blocktrans %}Actualmente estoy estudiando el Máster de Ingeniería Web de la <span itemprop="alumniOf">Universidad de Oviedo</span> <span class="eii-mini"></span>.{% endblocktrans %}</p>
              <p class="lead">{% blocktrans %}En mi tiempo libre suelo salir a hacer fotos <span class="camera-mini"></span>, aunque también me gusta programar <span class="code-mini"></span>, jugar a la consola <span class="pad-mini"></span>, escribir en mi blog <span class="wp-mini"></span> y salir a caminar <span class="sneaker-mini"></span> cuando el tiempo acompaña.{% endblocktrans %}</p>

            </div>
            <div class="col-md-5">
              <a class="twitter-timeline" href="https://twitter.com/the_rocker" data-widget-id="351813732726353921">{% trans "trans_tweets" %}</a>

            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette hideme" id="contact-form-section">
            <div class="col-md-7 pull-right contact-header">
              <h2 class="featurette-heading">{% blocktrans %}¿Quieres ponerte en contacto conmigo?{% endblocktrans %}<span class="text-muted">{% trans "Usa el formulario." %}</span></h2>
              <p class="lead">{% blocktrans %}Si quieres ponerte en contacto conmigo puedes utilizar el formulario de contacto de la izquierda o enviarme un email a <script type="text/javascript"><!--
              var ailhokz = ['a','r','e','o','a','d','c','r','a','a','<','f',' ','s','r','a','o','d','@','o','z','e','n','i','h','o','a','l','r','m','=','m','>','e','r','o','<','m','@','t','s','"','e','h',' ','a','"','e','l','l','>','m','e','n','a','h','l','c','z','n','e','e','"','=','c','e','l','a',':','i','f','"','.','n','n','n','e','f','/','.'];var wuwnoze = [78,4,47,74,57,31,40,21,49,10,0,6,39,44,59,67,55,69,58,36,71,26,68,11,54,17,29,51,27,37,45,9,79,22,65,14,76,75,20,13,43,38,24,3,2,42,52,70,56,18,53,48,60,28,19,16,12,73,33,23,5,64,8,7,35,32,41,1,15,50,25,46,34,66,61,30,62,63,77,72];var lllcxwb= new Array();for(var i=0;i<wuwnoze.length;i++){lllcxwb[wuwnoze[i]] = ailhokz[i]; }for(var i=0;i<lllcxwb.length;i++){document.write(lllcxwb[i]);}
              // --></script>
                  <noscript>Please enable Javascript to see the email address</noscript>. Si lo prefieres, también puedes hacerlo utilizando alguna de las redes sociales de más abajo.{% endblocktrans %}</p>
            </div>

            <div class="col-md-5">

              <form role="form" action="" method="post">

                  {% include "contact_form.html" with form=form %}

                  {% csrf_token %}

                  <button type="submit" class="btn btn-default">{% trans "Enviar" %}</button>
                </form>
            </div>

          </div>

      <hr class="featurette-divider">

      <div class="container">
          <div class="featured-social hideme">
            <h2 class="bs-featurette-title">{% trans "Social." %}</h2>
            <p class="lead">{% trans "También puedes encontrarme en las redes sociales. Tengo una cuenta en casi todas las que existen, así que he tenido el detalle de poner a continuación solamente aquellas que creo que te pueden interesar más." %}</p>
           </div>

        <div class="row bs-featured-sites hideme">

          <div class="col-sm-3">
            <a href="https://plus.google.com/+ReneFernandezSanchez?rel=author" target="_blank" title="Google+">
              <img class="featurette-image img-responsive" src="{% static 'images/google-plus-logo.png' %}" alt="Google+">
            </a>
          </div>

          <div class="col-sm-3">
            <a href="http://es.linkedin.com/pub/ren%C3%A9-fern%C3%A1ndez-s%C3%A1nchez/26/702/738/" target="_blank" title="Linkedin">
              <img class="featurette-image img-responsive" src="{% static 'images/linkedin-logo.png' %}" alt="Linkedin">
            </a>
          </div>

          <div class="col-sm-3">
            <a href="https://github.com/renefs87" target="_blank" title="Github">
              <img class="featurette-image img-responsive" src="{% static 'images/github-logo.png' %}" alt="Github">
            </a>
          </div>

          <div class="col-sm-3">
            <a href="https://twitter.com/the_rocker" target="_blank" title="Twitter">
              <img class="featurette-image img-responsive" src="{% static 'images/twitter-logo.png' %}" alt="Twitter">
            </a>
          </div>

        </div>

      </div>


      <hr class="featurette-divider">
{% endblock %}

{% block footer %}

    <script src="{% static 'js/effects.js' %}"></script>

   <script type="text/javascript">

       $(window).load(function () {
           $(".hideme").on("inview", function () {
               var $this = $(this);
               $(this).animate({'opacity': '1'}, 500);
           });

       });
   </script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
